[run]
source = .
omit =
    tests/*
    */__pycache__/*

[report]
include =
    model/*
    rules/*
    realtime/*
    engine/*
    input/*
    game_io/*
    view/*
    texttests/*
    app.py
show_missing = True
skip_empty = True
